---
layout: default
id: Blog
title: Welcome to my blog!
description: Below you'll find a collection of my projects, methodologies, and musings.
---


<div class="col-sm-9 blog-main">

  {% for post in site.categories.Blog %}

    <div class="row">
      <div class="col-sm-3 blog-main">
        <img src="https://i.ytimg.com/vi/Z26LvDhr3mI/hqdefault.jpg" class="blog-image">
      </div>
      <div class="col-sm-9 blog-main">
        <div class="blog-post">

          <h4 class="blog-post-title">
          	<a href="{{ site.baseurl }}{{ post.url }}" class="blog-post-title">{{ post.title }}</a>
          </h4>

          <p class="blog-post-meta">{{ post.date | date: "%B %e, %Y" }}</p>

          <div class="blog-post-description">
            {{ post.description }}
          </div>

          <p><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a></p>
        </div>
      </div>
    </div>
    <hr>

  {% endfor %}

</div>

<div class="col-sm-3">
  <div class="sidebar-module sidebar-module-inset">
    <h4>Contents</h4>
    <ul>
      {% for post in site.categories.Blog %}

        <div class="row">
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
        </div>

      {% endfor %}
    </ul>

  </div>
  <div class="sidebar-module">
  </div>
</div>
