---
layout: default
id: Portfolio
title: Projects
description: This is the place where I tell you all about the projects I've done!
---

<div class="col-sm-1">
</div>

<div class="col-sm-10 blog-main">

  {% for post in site.categories.Project %}

    <div class="row">
        <div class="blog-post">

          <h4 class="blog-post-title">{{ post.title }}</h4>

          {{ post.content }}

          <hr>

          {% if post.burl %}
            <p>I wrote a blog post about this project, you can read it <a href="{{ site.baseurl }}{{ post.burl }}" class="read-more">here!</a></p>
          {% endif %}

          {% if post.purl %}
            <p>You can also see the GitHub repository for this project <a href="{{ site.baseurl }}{{ post.purl }}" class="read-more">here!</a></p>
          {% endif %}

        </div>
        <hr>
    </div>
    <hr>

  {% endfor %}

</div>

<div class="col-sm-1">
</div>